<% @messages.each do |message| %>
    <li>
      <span class="time"><%= message.created_at.to_i %></span>&#9<span class="username"><%= message.user.username %></span>&#9<span class="message"><%= message.message %></span>
    </li>
<% end %>