<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%# javascript_include_tag "jquery-1.7.2.min" %>
  <!--<meta http-equiv="refresh" content="30" />    -->
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :id => key  %>
<% end %>

<%= yield %>

</body>
</html>
