<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet" type="text/css">
  <!--<meta http-equiv="refresh" content="30" />    -->
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :id => key  %>
<% end %>

<%= yield %>

</body>
</html>
